# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf


# YAML files use 2 spaces for indentation
[*.{yml,yaml}]
indent_size = 2
max_line_length = 120


# Markdown files do not trim trailing whitespace
[*.md]
trim_trailing_whitespace = false


# TOML files use 2 spaces for indentation
[*.toml]
indent_size = 2


# Ignore files and directories: .git, .vscode, .DS_Store
[**]
ignore = .git, .vscode, .DS_Store
